:root {
  --background: oklch(37.878% 0.17205 292.04);
  --primary: oklch(79.03% 0.1397 106.45);
  --secondary: oklch(57.93% 0.18418 296.432);
  --foreground: var(--primary);
  --main-foreground: var(--primary);
  --accent-foreground: oklch(46.81% 0.0384 226.38);
  --main: oklch(22.213% 0.00003 271.152);
  --border: var(--primary);
  --ring: var(--primary);
  --overlay: var(--primary);

  --height-nav: calc(var(--spacing) * 18);
  --height-gaps: calc(
    var(--spacing) * 8 + var(--spacing) * 4 + var(--spacing) * 4
  );
  --height-content: calc(100svh - var(--height-nav) - var(--height-gaps));
}
